<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<!--  静态方法-->
	<bean id="static-method-user"
		  class="com.mylsaber.entity.UserBean"
		  factory-method="createInstance"/>

	<!--  工厂方法创建-->
	<bean id="factory-use"
		  factory-bean="userFactory"
		  factory-method="factory"/>

	<!--user 工厂bean-->
	<bean id="userFactory"
		  class="com.mylsaber.beanfactory.UserBeanFactoryImpl"/>

	<!--factory bean-->
	<bean id="factory-bean-user"
		  class="com.mylsaber.beanfactory.UserFactoryBean"/>

</beans>